#new{
    .container{
        #product{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 25px;
            .box{
                width: 250px;
                img{
                    width: 100%;
                }
                button{
                    border-radius: 10px;
                    color: #fff;
                    background-color: red;
                    padding: 10px;
                    border: 1px solid red;
                    transition: 1s;
                    margin: 1rem 0;
                    &:hover{
                        color: red;
                        background-color: #fff;
                    }
                }
            }
        }
  
    }
}
#srcform{
    height: 3rem;
}